#!/bin/bash

# make sure we have somewhere to land our env vars from vercel
touch .env

# add node_modules to PATH
PATH_add node_modules/.bin

# pull env from vercel
vercel env pull .env

# load the .env
dotenv